/* Variables */

/* BLANCO */
$blanco: #f1f0f0;
$blanco2: #f3f3f2;
$blanco3: #fbf9fa;
$blanco4: #f2f4f3;
$blanco5: #f5f7f8;
/* GRIS */
$gris: #8b8a8b;
$gris2: #8c93a0;
/* when select is focused */
$grisTono1: #333333;
$grisTono2: #555555;
$grisTono3: #777777;
$grisTono4: #999999;

/* Hamburger menu */
$grisButton: #2e2e2e;

/* Color of the aside texts */
$grisTono5: #bbbbbb;
$grisTonoOpacity: #1402029d;

/* Links backgrounds */

/* ROJO */
$rojo2: #cd2c51;
$rojo3: #e35158;

/* link hover */
$rojo4: #9f043d;

/* Texto */
$rojoTexto: #daaeae;
